*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:bisque;
}

.container{
    background-color: #fff;
    padding: 2rem;
    min-height: 50vh;
    width: 45vh;
    border-radius: 5%;
}

.form{
    margin: 2rem 0 1rem 0;
}

form button, select, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.8rem;
}

form input{
    border: 1px solid gray;
    font-size: 1rem;
    padding-left: 0.7rem;
    height: 3rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    width: 1rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 7rem;
    border: 1px solid gray;
}

.select-container select{
    font-size: 1rem;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: rgb(180, 103, 252);
    color: #fff;
}